<form class="login-form" [formGroup]="loginGroup">
    <mat-form-field>
        <mat-label>Ваш e-mail</mat-label>
        <input matInput placeholder="my-email@yandex.ru" formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Ваш пароль</mat-label>
        <input matInput placeholder="password" type="password" formControlName="password">
    </mat-form-field>
    <button mat-stroked-button (click)="auth()" type="button" [disabled]="!loginGroup.valid"
        color="primary">Войти</button>
</form>