<div>

    <div *ngIf="!(loaded | async); else loadedBlock" class="spinner">
        <mat-progress-spinner mode="indeterminate" diameter="50" strokeWidth="2" color="accent"></mat-progress-spinner>
    </div>

    <ng-template #loadedBlock>

        <div *ngIf="survey | async as survey; else surveyNotFoundBlock">
            <div *ngIf="surveyCompleted | async; else questionBlock" class="completed">
                <img src="assets/images/survey-completed.png" width="144" height="144">
                <div>Вот и все! Отличная работа!</div>
            </div>
            <ng-template #questionBlock>
                <div class="container">
                    <app-question-card-container [surveyId]="survey._id" [questionsAmount]="survey.questions.length"
                        [feedbackToId]="survey.feedbackToId">
                    </app-question-card-container>
                </div>
            </ng-template>
        </div>

        <ng-template #surveyNotFoundBlock >
            <div class="not-found">
                На текущий момент все опросы пройдены!
            </div>
        </ng-template>
    </ng-template>
</div>