$circle-radius: 20px;
$border-color: #5C6BC0;

.scores {
    display: flex;
    flex-direction: row;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: calc(2 * $circle-radius);
    height: calc(2 * $circle-radius);
    border-radius: $circle-radius;
    border: 3px solid $border-color;
    font-size: 12px;
    flex-shrink: 0;
    flex-grow: 0;
    cursor: pointer;
}

.edge {
    height: $circle-radius;
    box-sizing: border-box;
    border-bottom: 3px solid $border-color;
    flex-grow: 1;
}

.legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    padding: 7px 0;
}