@use '@angular/material' as mat;
@import 'src/vars.scss';
@import 'src/common.scss';

mat-tree {
    margin: 20px 0;
}

.node {
    /* display: flex; */
    align-items: center;
    /* cursor: pointer; */
}


.node:hover {
    /* font-weight: 500; */
}

.invisible {
    display: none !important;
}

.department {
    font-size: 16px;
    cursor: pointer;
}

.respondent {
    font-size: 14px;
    width: 100%;
}

.respondent-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    max-width: 600px;
    div:first-of-type {
        cursor: pointer;
        
    }
}

.disabled-respondent {
    opacity: 0.35;
}

.signedUp {
    color: mat.get-color-from-palette(mat.$green-palette, 500);
}

.invited {
    color: mat.get-color-from-palette(mat.$indigo-palette, 500);
}

.notInvitedYet {
    color: mat.get-color-from-palette($warn-palette, 500);
}


.email {
    opacity: 0.7;
}

mat-form-field {
    padding: 8px 0;
}