<header>Структура компании</header>
<mat-tree [dataSource]="dataSource" [trackBy]="trackByFn" [treeControl]="treeControl" #tree>

    <mat-tree-node *matTreeNodeDef="let node; when isDepartment" matTreeNodePadding>
        <app-department-node class="node" [node]="node" [expanded]="treeControl.isExpanded(node)" (edit)="edit($event)"
            (toggle)="toggle(node)"></app-department-node>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when isRespondent" matTreeNodePadding>
        <app-respondent-node class="node" [node]="node" (edit)="edit($event)" (remove)="remove($event)"
            (invite)="invite($event)"></app-respondent-node>
    </mat-tree-node>

</mat-tree>