@use '@angular/material' as mat;
@import 'src/common.scss';
@import 'src/vars.scss';

.container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.record-container {
    margin-bottom: 10px;
}

.record {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    border: 1px solid mat.get-color-from-palette($primary-palette, 50);
}

.bad-record {

    //border: 2px solid mat.get-color-from-palette($warn-palette, 500);
    .text {
        font-size: 18px;
        font-weight: 500;
    }
}

.mood {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.text {
    padding: 10px;
    font-size: 16px;
}

.subscription {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    opacity: 0.75;
    font-size: 12px;
}