<div class="header">
    <div class="title">
        <div *ngIf="subtitle" class="subtitle">
            {{subtitle}}
        </div>
        <div>
            {{title || subtitle}}
        </div>
    </div>
    <div class="index">
        {{questionIndex+1}} из {{questions.length}}
    </div>
</div>
<div class="container">
    <ng-template questionHost (touched)="onTouched($event)"></ng-template>
</div>
<div class="actions">
    <mat-checkbox class="example-margin" [(ngModel)]="anonymous" color="primary">Опубликовать анонимно</mat-checkbox>
    <div>
         <!-- <button mat-stroked-button color="primary" (click)="stepBack()">Назад</button> -->
        <button mat-stroked-button color="primary" (click)="skipAnswer()" *ngIf="emptyAnswer">Пропустить</button>
        <button mat-stroked-button color="primary" (click)="confirmAnswer()" *ngIf="!emptyAnswer">Далее</button>
    </div>
</div>