<form [formGroup]="passwordGroup" class="signup-form">
    <mat-form-field>
        <input matInput placeholder="Укажите пароль" formControlName="password" [type]="showPassword ? 'text': 'password'">
        <mat-icon matSuffix (click)="changePasswordVisibility()" [class.disabled-icon]="blockInterface">
            {{showPassword ? 'visibility' : 'visibility_off' }}
        </mat-icon>
        <mat-error *ngIf="hasPasswordError()">
            {{getPasswordErrorMessage()}}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Повторите пароль" formControlName="passwordConfirm"
            [errorStateMatcher]="errorMatcher" type="password">
        <mat-error *ngIf="hasConfirmError()">
            {{getConfirmErrorMessage()}}
        </mat-error>
    </mat-form-field>
    <button mat-stroked-button (click)="signUp()" type="button"
        [disabled]="!passwordGroup.touched || hasPasswordError() || hasConfirmError() || blockInterface"
        color="primary">Зарегистрироваться</button>
</form>