:host {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* justify-content: center; */
    max-width: 220px;
    height: 100%;
}

.disabled-icon {
    color: gray;
}

.signup {
    margin-top: 10px;
    border-radius: 3px;
    border-left-width: 3px;
    border-left-style: solid;
    display: block;
    padding: 10px;
}

.success {
    color: green;
    border-left-color: green;
}

.error {
    color: red;
    border-left-color: red;
}