<mat-form-field appearance="outline" subscriptSizing="dynamic">
    <input matInput placeholder="Введите имя или фамилию сотрудника" [formControl]="filter">
</mat-form-field>
<div class="collection">
    <!-- <div class="spinner" *ngIf="!filteredTeam.value">
        <mat-progress-spinner mode="indeterminate" diameter="50" strokeWidth="2" color="accent"></mat-progress-spinner>
    </div> -->
    <div *ngIf="!filteredTeam.value.length" class="teammate-main" >
        Сотрудники не найдены...
    </div>
    <div class="teammate" *ngFor="let teammate of filteredTeam.value; index as i">
        <div class="teammate-main">
            <div class="teammate-name">
                {{teammate.fullName}}
            </div>
            <div class="teammate-department">
                {{teammate.department.title}}
            </div>
        </div>
        <span>
            <mat-checkbox color="primary" (change)="selectionModelArray[i].toggle(true)"
                [checked]="selectionModelArray[i].isSelected(true)" class="checkbox">
                Да
            </mat-checkbox>
            <mat-checkbox color="primary" (change)="selectionModelArray[i].toggle(false)"
                [checked]="selectionModelArray[i].isSelected(false)" class="checkbox">
                Нет
            </mat-checkbox>
            <span class="spacer"></span>
        </span>
    </div>
</div>