:host {
    display: flex;
    flex-direction: column;
}

.collection {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-top: 5px;
    height: 200px; //fixed height due filter collapses  
}

.spinner {
    display: flex;
    width: 100%;
    height: inherit;
    align-items: center;
    justify-content: center;
}

.teammate {
    display: flex;
    text-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
}

.teammate-main {
    overflow: hidden;
    padding: 7px 0 2px;
}

.teammate-name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.teammate-department {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    opacity: 0.8;
}

.spacer {
    display: inline-block;
    width: 25px;
}

