<mat-form-field appearance="outline" subscriptSizing="dynamic">
    <input matInput placeholder="Введите имя или фамилию сотрудника" [formControl]="filter">
</mat-form-field>
<div class="collection">
    <div class="spinner" *ngIf="!(filteredTeam | async)">
        <mat-progress-spinner mode="indeterminate" diameter="50" strokeWidth="2" color="accent"></mat-progress-spinner>
    </div>
    <div class="teammate" *ngFor="let teammate of filteredTeam | async">
        <mat-checkbox color="primary" (change)="selectionModel.toggle(teammate)"
            [checked]="selectionModel.isSelected(teammate)">
        </mat-checkbox>
        <div class="teammate-main">
            <div class="teammate-name">
                {{teammate.name}}
            </div>
            <div class="teammate-department">
                {{teammate.department}}
            </div>
        </div>
        <div class="spacer"></div>
    </div>
</div>