<div class="caption">Регистрация сотрудника</div>
<form [formGroup]="formGroup" class="add-user-form">
    <mat-form-field appearance="outline">
        <input matInput formControlName="userName" placeholder="Иванов Иван">
        <mat-label>Имя сотрудника</mat-label>
        <mat-error>{{getErrorText("userName")}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <input matInput formControlName="email" placeholder="ivanov@yandex.ru">
        <mat-label>E-mail</mat-label>
        <mat-error>{{getErrorText("email")}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <input matInput formControlName="department" [matAutocomplete]="auto">
        <mat-label>Отдел</mat-label>
        <mat-error>{{getErrorText("department")}}</mat-error>
        <mat-hint class="warn" *ngIf="newDepartmentWillBeCreated()">* будет создан новый отдел</mat-hint>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let department of filteredDepartments$ | async" [value]="department">
            {{department.title}}
        </mat-option>
    </mat-autocomplete>

    <button mat-stroked-button type="button" (click)="addRespondent()" color="primary"
        [disabled]="formGroup.invalid">Добавить сотрудника</button>
</form>