<mat-nav-list>
    <ng-container *ngIf="(hasScope(Scopes.HR) | async) || (hasScope(Scopes.Admin) | async)">
        <mat-list-item routerLink="wall" routerLinkActive="active-link" ariaCurrentWhenActive="page">
            Лента
        </mat-list-item>
        <mat-list-item routerLink="reports" routerLinkActive="active-link" ariaCurrentWhenActive="page">
            Отчеты по компании
        </mat-list-item>
        <mat-list-item routerLink="company" routerLinkActive="active-link" ariaCurrentWhenActive="page">
            Структура компании
        </mat-list-item>
    </ng-container>
    <mat-list-item routerLink="my" routerLinkActive="active-link" ariaCurrentWhenActive="page">
        Мой отчет
    </mat-list-item>
    <mat-list-item routerLink="my-survey" routerLinkActive="active-link" ariaCurrentWhenActive="page">
        Мой опрос
    </mat-list-item>
</mat-nav-list>
<div class="content">
    <router-outlet></router-outlet>
</div>