@use '@angular/material' as mat;
@import 'src/common.scss';
@import 'src/vars.scss';

:host {
    position: fixed;
    top: 64px;
    left: 0;
    display: grid;
    grid-template-columns: 200px 1fr;
    width: 100%;
    height: calc(100vh - 64px);
}

.content {
    padding: 20px;
    overflow-y: auto;
}

mat-nav-list {
    padding: 0;
    border-right: 1px solid mat.get-color-from-palette($primary-palette, 50);
}

//mat-list-item:not(:focus).active-link {
mat-list-item.active-link {
    //background-color: rgb(0, 0, 0, 0.12);
    background-color: mat.get-color-from-palette($primary-palette, 100);
}

.mdc-list-item:focus::before {
    opacity: 0;
}

.mdc-list-item:hover::before {
    background-color: mat.get-color-from-palette($primary-palette, 900);
    opacity: 0.12;
}